<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    <link rel="stylesheet" href="../assets/style.css" />
    <title><%= pageTitle%></title>

  </head>
  <body style=<%=image%>>
    
      <div>
        <form action="/" method="POST">
          <input type="text" class="search" name="location" placeholder="Enter a city name" value=<%=cityName%>>
          <button type="submit" class="submission">Search</button>
        </form>
      </div> 
         

    <div class="container">
      <div class="temperature">
         <h2 class="temperature-degree"><%= degree%></h2><h2 class="degree-logo"><%=unit%></h2>
        
      </div>

      <div class="temperature-description">
          <%=description%>
      </div>
     
      <h2 class="city-name"><%=cityName%></h2>
      <!-- <div class="location">
      <h1 class="location-timezone"></h1>
      </div> -->
      <div class="refreshed" style=<%=refreshed%>>
        Last refreshed: <%=time%>
      </div>
     <img class="icon" width="100"  name="icon" src=<%=imageSource%>>
      <!-- <img src="" alt="icon"> -->
    </div>
    
      

   
  </body>
  <script src="../assets/skycons.js"></script>
  <script src="./app.js"></script>
</html>
